body,
html {
	height: 100%;
	margin: 0; 
	overflow: hidden;
}

.chatbox-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-width: 100vw; 
	border: 2px solid #ccc; 
	border-radius: 8px; 
	overflow: hidden; 
}
.messages {
	flex-grow: 1;
	overflow-y: auto;
	margin-bottom: 10px;
}

.message {
	padding: 10px;
	margin: 5px 0;
	border-radius: 8px;
}

.message.sent {
	background-color: #d1e7dd;
	align-self: flex-end;
}

.message.received {
	background-color: #f8d7da;
	align-self: flex-start;
}

.search-bar {
	margin-bottom: 15px;
}


.chat-container {
	display: flex;
	height: 100vh;
	padding: 10px;
}


.user-list {
	width: 300px;
	background-color: #f8f9fa;
	padding: 20px;
	border-radius: 8px;
	margin-right: 15px;
	height: 100%;
	overflow-y: auto;
}

.chat-box {
	flex-grow: 1;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	height: 100%;
}


