/* @import "tailwindcss"; */

body {
	background-color: #f4f6f9;
	overflow-y: auto;
	padding-top: 80px;
}

.message-container {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px;
	z-index: 2000;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.message-box {
	padding: 10px 15px;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-out {
	animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.message-box.info {
	background-color: #007bff;
	border: 1px solid #0056b3;
}

.message-box.error {
	background-color: #dc3545;
	border: 1px solid #b71c1c;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	margin-top: 30px;
}

.card-title {
	font-size: 20px;
	font-weight: bold;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.profile-pic {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.content {
	flex-grow: 1;
}

footer {
	z-index: 1000;
}
