<head>
	<link rel="stylesheet" href="/static/css/chats-page.css" />
</head>

<div class="container">
	<!-- User List Sidebar -->
	<div class="user-list">

		<div class="user-item new-request">
			<img
				src="https://cdn-icons-png.flaticon.com/512/32/32339.png"
				alt="User Avatar"
			/>
			<span class="user-name">Add new friend</span>
		</div>

		<!-- Search Bar -->
		<div class="search-bar-friends">
			<input
				type="text"
				placeholder="Search friends..."
				class="search-input"
			/>
		</div>
	</div>

	<!-- Chat Area -->
	<div class="chat-area">
		<div class="chat-header">John Doe</div>
		<div class="message-list">
			<div class="message-item">Hello! How are you doing today?</div>
			<div class="message-item sent">I'm doing great, thanks for asking!</div>
			<div class="message-item">What about you?</div>
		</div>
		<div class="message-input">
			<input type="text" placeholder="Type a message..." />
			<button>Send</button>
		</div>
	</div>
</div>

<script src="static/script/chat-page.js"></script>