<head>
	<script src="static/script/chat-page.js"></script>
	<link rel="stylesheet" href="/static/css/chat-page.css" />
</head>

<div class="container">
	<div class="side-bar">
		<!-- Search Bar -->
		<div class="search-bar-friends">
			<input
				type="text"
				placeholder="Search friends..."
				class="search-input"
			/>
		</div>

		<div class="user-item new-request">
			<img
				src="https://cdn-icons-png.flaticon.com/512/32/32339.png"
				alt="User Avatar"
			/>
			<span class="user-name">Add new friend</span>
		</div>

		<!-- User List Sidebar -->
		<div class="user-list">

		</div>
	</div>

	<!-- Chat Area -->
	<div class="chat-area">
		{{!-- <div class="chat-header">{{John Doe}}</div> --}}
		<div class="message-list">
			{{#each chatHistory}}

				<div class="message-item">{{this.text}}</div>
				<div class="message-item sent">{{this.text}}</div>

			{{/each}}
		</div>

		<form class="message-input" action="/chat/send-message" method="POST">
			<input type="text" placeholder="Type a message..." />
			<button type="submit">Send</button>
		</form>
	</div>
</div>

