/* Container for the whole chat page */
.container {
	display: flex;
	height: 100vh;
}

/* Sidebar Styles */
.side-bar {
	width: 300px;
	background-color: #fff;
	border-right: 1px solid #e2e2e2;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.search-bar-friends {
	margin-bottom: 20px;
}

.search-input {
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	border: 1px solid #ccc;
	font-size: 14px;
}

.user-item {
	display: flex;
	align-items: center;
	padding: 15px;
	margin-top: 10px;
	background-color: #f7f7f7;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.user-item:hover {
	background-color: #e2e2e2;
}

.user-item img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.user-name {
	font-size: 14px;
	font-weight: 500;
	color: #555;
}

/* New request button styles */
.new-request {
	background-color: #e0f7fa;
}

.user-list {
	flex-grow: 1;
	margin-top: 20px;
	overflow-y: auto;
}

/* Chat Area Styles */
.chat-area {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}

.chat-header {
	background-color: #007bff;
	color: #fff;
	padding: 15px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}

.message-list {
	flex-grow: 1;
	padding: 20px;
	overflow-y: auto;
	background-color: #f4f7fc;
}

.message-item {
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 10px;
	background-color: #f1f1f1;
	max-width: 70%;
}

.message-item.sent {
	background-color: #007bff;
	color: #fff;
	margin-left: auto;
	max-width: 70%;
}

.message-input {
	display: flex;
	padding: 15px;
	background-color: #fff;
	border-top: 1px solid #e2e2e2;
}

.message-input input {
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	border: 1px solid #ccc;
	font-size: 14px;
	margin-right: 10px;
}

.message-input button {
	padding: 10px 15px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 20px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.message-input button:hover {
	background-color: #0056b3;
}
